body{
    background:rgba(0,0,0,0.8);
    padding:0;
    margin:0;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
.logo{
  display: block;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width:340px;

}
img{
    /* Make all images responsive */
   width: 100%;
    /* display: block;
    margin:1% auto; */
}
h1{
  text-align:center;
  margin-top:45%;
  color: white;

}
p{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
div p{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  color: white;
}
header{
  background: linear-gradient(180deg, rgba(255,255,255,1) 66%, rgba(0,0,0,1) 66%);

}

/* START NAV STYLES -------------------------------- */
nav {
  background-color: #0f6a6d;
  margin: 0;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fa-search{
  display:inline !important;
}
nav ul li {
  /* width: 25%; */
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  color: white;
  display: block;
  /* line-height: 3em; */
  padding: 15px;
  text-decoration: none;
}
/* nav ul li:first-child { */
  /* margin-right: auto; */
}
nav ul li a.logo {
  background-color: black;
}
nav ul li a:hover {
  background-color: lightgray;
}

.container {
  /* max-width: 1050px; */
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  background-color: #0f6a6d;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #eee;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 62px;
  width: 42px;
  margin: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background-color:#0a4648;
  padding-top: 120px;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}



.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
/* END NAV STYLES------------------------------------- */

.about-hero{
  background: url("newpic2.jpg");
  /* https://i.pinimg.com/564x/72/03/a5/7203a57a9c1d6a1d44a16c02758f4333.jpg  */
  background-size: cover;
  height: 1100px;
}

.about-hero h1{
  text-align: left;
  margin-left: 5%;
  right:auto;
  font-family: 'Libre Baskerville', serif;
  color: White;

}
.about-hero p{
  text-align:left;
  font-family: 'Libre Baskerville', serif;
  color: white;
}
aside{
  margin:15px;
  color:white!important;
}
aside p{
  text-align: left;
}

aside h2{
  text-align: center;
}

/* * BEGIN CONTACT US STYLES */

.contact-hero{
  background: url("guysmellingspices2.jpg");
  /* https://www.pexels.com/photo/man-in-blue-shirt-inside-a-local-store-3889827/ */
  background-size: cover;
  height: 55vh;
  background-position: center;
  /* width: 100%; */
}
.contact-hero h3{
  text-align: left;
  margin-left: 5%;
  right:auto;
  font-family: 'Libre Baskerville', serif;
  color: White;
}
.main-container{
  display:flex;
  flex-wrap: wrap;
  /* width:90%; */
  margin-right:auto;
  margin-left:auto;
}
.main-container a{
  text-decoration:none;
  color:white;
}
.main-container h2{
  color:white;
  text-align: center;
  margin-bottom: 170px;
}
.main-container div{
  flex-grow:1;
/* Change width to flex-basis */
  flex-basis:170px;
}
.one{
  background-color: #B23A48;
}
.one .circle{
    background-image: url("newpic2.jpg");
/* https://www.pinterest.com/pin/89860955049262593/   */
    background-size: cover;
    background-position:top;
}
.two{
  background-color: #f6bd60;
}
.two .circle{
    background-image: url("sambusa2.jpg");
/*  https://i.pinimg.com/564x/37/bb/f8/37bbf80bb8fa997fdff4594f02733933.jpg  */
    background-size: cover;
    background-position:center;
}
.three{
  background-color: #84a59d;
}
.three .circle{
    background-image: url("guysmellingspices2.jpg");
/*  https://www.pexels.com/photo/man-in-blue-shirt-inside-a-local-store-3889827/  */
    background-size: cover;
    background-position:center;
}
.circle{
  border-radius:50%;
  height:220px;
  width:220px;
  border:solid gray 4px;
  overflow:hidden;
  margin:60% auto 20px auto;
}
.circle h2{
  text-align:center;
}
footer{
background-color: #0f6a6d;
}
footer p{
  color: white;
  line-height:2;
}
footer a{
    color:white;
}
footer span{
  width: 90%;
  margin:auto;

}
.flex-container {
  flex-direction: column;
  display: block;
}
.flex-container div {
  margin-bottom: 10px;
  min-width: 100px;
  grid-gap: 10px;
  padding:2%;
  flex-grow: 1;
}
.flex-container h3{
  text-align:center;
  margin-top:20px;
  font-family: 'Libre Baskerville', serif;
  color: White;
}
.fa {
  font-size: 30px;
  width: 100px;
  height: 30px;
  padding: 10px 0 0 0;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.5;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #833AB4;
  color: white;
}
.fa-angle-double-up{
  background: #930000;
  color: white;
}
.form-container{
  width:90%;
  margin:auto;
}
/******8 start store styles *****/
main{
  max-width: 500px;
  margin: 0 auto;
}
article{
  margin: 1rem 0;
}
@supports (display: grid) {
  main{
    max-width: none;
    margin: 0; }
  article {
    margin: 0; }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem; }
  }

article {
  display: flex;
  flex-flow: column; }

article > img {
  order: -1;
  align-self: center; }

article {
  padding: 2rem;
background: black;
}

article > h1 {
  margin: 1rem 1rem 0; }

article > ul {
  margin: 0 0 1rem; }

article > p {
  margin: 0.25em 1rem 1rem;
  color: white;
}
.store{
  padding: 10px;
}
.store-item{
    width: 300px;
    hight: 300px;
    object-fit: cover;
}
    
main {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%; }

article {
  border: 1px solid teal;
  border-radius: 1rem; }

article > button {
  margin-top: auto;
  background: teal;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem; }
}

 h1{
  text-align:center;
  font-family: 'Libre Baskerville', serif;
  color: white;

}
.help {
  Color: White;
  font-size: 50px;
  font-family: 'Libre Baskerville', serif;
  background-color: #0d1111;
  margin-bottom:20px;
  margin-top: 7%;
  padding-top:20px;
  padding-bottom:20px;
}
.shoptext{
  width: 85%;
  max-width: 800px;
  margin: auto;
  /* text-align:center; */
  font-family: 'Libre Baskerville', serif;
  color: white;
  /* font-size: 16px; */
}

/* START MOBILE FORM STYLES */

      .form-container{
  /*       TO CENTER add AUTO for margin right and left*/
        margin: 20px auto;
  /*  WIDTH 100%  FOR MOBILE DEVICES*/
        width:90%;
        padding: 20px;
        /* align: center; */
        /* justify-content: center; */
        /* display:flex; */
        font-size:1em;
      }
      form p{
        margin-bottom:5px;

      }
      label{
        display:block;
        color: white;
      }
      #newsletter input{
        display:inline;
        width:auto;
      }
      input{
        /* FOR MOBILE use WIDTH:100% */
        width:60%;
        padding:1.2%;
        margin:1.5% 0;
        font-size: 1em;
        border-radius: 4px;
        border:1px solid #ccc;
        box-sizing: border-box;
        justify-content: center;
      }
      textarea{
        min-height:100px;
         /* FOR MOBILE use WIDTH:100% */
        width: 100%;
        padding: 2%;
        margin: 1.5% 0;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      button{
        /* CHANGED COLORS bellow */
        background: #45A99F;
        border: 1px solid #45A99F;
        /* Rounded corners */
        border-radius: 4px;
        /* Text color */
        color:white;
        margin-top: 20px;
        margin-bottom: 20px;
        padding:10px 20px;
        font-size: 1.1em;
      }





/* Start Media Query */

/* medium screen size below --------- */
@media screen and (min-width: 600px) {
        .logo{
            /* width:250px; */
        }
        .main-container{
          /* height:80vh; */
        }
        nav ul{
          flex-direction: row;
          margin:auto;
          align-items: center;
          width:640px;
        }
        .nav ul li a{
          line-height: 3em;
          padding: 15px;
        }
        .flex-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding:10px;
          flex-direction: row;
        }
        .culture{
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: 20px auto;
        }
        aside{
          width: 42%;
          display: inline;

        }
        .about-hero{
          width: 48%;

        }
        /* .img-left{
          width: 50%;
          display: block;
        } */
        footer span{
          width: 45%;
          margin-left:0;
          margin-right: 0;



      }






      }


  @media screen and (min-width: 800px) {


      .form-container{
        width:45%;
        display:inline-block;
        margin-left: 1%;
      }

      input{
        width: 60%;
      }
      button{
        margin-top: 2%;
        margin-bottom: 2%;
      }
      * {
    box-sizing: border-box;
  }
}
  /* large screen styles below */
  @media screen and (min-width: 1400px) {

    .circle{
      width:300px;
      height:300px;
    }
    .flex-container {
      width: 90%;
      margin: auto;
    }
    footer span{
      width: 90%;
      margin:auto;
}


input{
  width: 60%;
}
button{
  margin-top: 2%;
  margin-bottom: 2%;
}


  }
  /* large screen styles below */
  @media screen and (min-width: 1600px) {

    .circle{
      width:400px;
      height:400px;
    }

  }
